<div class="main-container">

    <app-header></app-header>
    <main>
        <div id="Contenido">

            <app-sidebar></app-sidebar>

            <div class="search-bar">
                <fa-icon [icon]="faSearch"></fa-icon>
                <input type="text" placeholder="Buscar...">
            </div>

            <div class="products">
                <div class="prod-card" *ngFor="let card of [1,1,1,1,1,1,1,1,1,1,1,1]">
                    <img src="https://dummyimage.com/100x200/d932d9/1d23de.png" alt="">
                    <div class="prod-info">
                        <div class="valoration">
                            * * * * *
                        </div>
                        <div class="price">
                            50€
                        </div>
                        <div class="prod-name">
                            Razer Dark Mamba
                        </div>
                        <div class="availability">
                            Disponible
                        </div>
                        <button class="buy"> 
                            <fa-icon [icon]="faShoppingCart"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>


</div>